.carcaza {
    height: 600px;   
    width: 400px;
    background-color: limegreen;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pantalla {
    height: 220px;
    width: 370px;
    background-color: azure;
    border-radius: 20px;
    margin-top: 14px;
}

.trapezoid {
    border: none;
    height: 0;
    width: 120px;
    border-bottom: 50px solid lightgray;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    background-color: transparent;
    position: absolute;
}

#subirVol {
    transform: rotate(180deg);
    left: 150px;
    bottom: 365px;
}

#bajarVol{
    left: 150px;
    bottom: 205px;
}


#siguiente {
    transform: rotate(-120deg);
    left: 220px;
    bottom: 325px;
}

#anterior {
    transform: rotate(120deg);
    left: 80px;
    bottom: 325px;
}



#adelantar {
    transform: rotate(-60deg);
    left: 220px;
    bottom: 245px;
}

#atrasar{
    transform: rotate(60deg);
    left: 80px;
    bottom: 245px;
}